# Ambiente virtual
venv/
__pycache__/
*.pyc

# Arquivos de desenvolvimento
.gitignore
.cursor/
.git/

# Pastas de documentação/anotações
_anotacoes/

# Outros
.env
*.log
app.log

# Banco de dados
trempy.db

# Documentação
README_DOCKER.md
README_RABBITMQ.md
README.md
TODO.txt

# Scripts
task/settings.pickle
task/settings.json